mat-form-field{
  width: 100%;
}

form{
  display: flex;
  flex:{
    direction: column;
  }
  justify-content: space-around;

  mat-form-field,
  mat-radio-group,
  mat-slide-toggle,
  mat-checkbox{
    flex-grow: 1;
  }
}
